<!DOCTYPE html>
<html>
    <head>
        <title>Start Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body ng-app="HelpApp">
        <div ng-controller="CallController as controller">
            <h1>HELP APP</h1>
            <h5>Olá {{ controller.user }}</h5>        
            <h5>{{ 2 + 2}} = {{ 3 + 2 }} </h5>
            <div style="border: 1px solid black"
                 data-ng-show="controller.call">
                <label for="callId">ID:</label>
                <input type="number"
                       id="callId"
                       data-ng-model="controller.call.id"
                       disabled><br/>
                
                <label for="issue">Assunto:</label>
                <input type="text"
                       id="issue"
                       data-ng-model="controller.call.issue"
                       disabled><br/>
                
                <label for="issue">Mensagem:</label>
                <textarea rows="4"
                       id="message"
                       data-ng-model="controller.call.message" 
                       disabled><br/>
                
                <button type="button" data-ng-click="controller.save()">Salvar</button>
                <button type="button" data-ng-click="controller.cancel()">Cancel</button>
                
            </div>
            
        </div>
        <script src="resources/angular.js"></script>
        <script src="resources/help.js"></script>
    </body>
</html>
